.ProductItem{
    list-style: none;
    color: black;
    font-size: 1.5em;
    vertical-align: middle;
}

.Button{
    background-color: brown;
    font-size: 80%;
    border-radius: 10px;
color: white;
}

.btn{
    text-align: right;
}
