.Student{
    background-color: bisque;
    border: solid 2px red;
    border-radius: 10px;
}
.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
  }
  